body {
  background-color: #291f4e;
  color: #fff;
}

img.bg-home {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
}

img.bg-top {
  left: 0;
  top: 0;
}

img.bg-bottom {
  right: 0;
  bottom: 0;
}

.home-logo {
  max-width: 50%;
  max-width: 200px;
  margin-top: 25vh;
  padding-bottom: 30px;
}

.opener {
  text-align: center;
}

.home-menu img {
  max-width: 100%;
  margin-top: 30px;
}

.top-row {
  margin-top: 20px;
  margin-bottom: 30px;
}

.top-row .logo {
  max-width: 100px;
}

.top-row .back-arrow {
  max-width: 35px;
  margin-top: 10px;
  margin-right: 10px;
}

.choices img {
  width: 100%;
}

.choice {
  margin-bottom: 10px;
}